.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.App-right {
  background-color: #c8ffba;
  padding-top: 4rem;
}
.App-left {
  padding-top: 4rem;
  padding-left: 4rem;
}
